.item {
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;

  md-radio-button {
    justify-self: end;
  }

  equip-item {
    grid-column-start: 2;
  }
}

.entry {
  display: grid;
  grid-template-columns: 30px 30px 200px 200px repeat(4, 100px);
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.number {
  justify-self: end;
}

.budget-exceeded {
  color: red;
}

.weight-exceeded:not(:hover) {
  color: rgba(0,0,0,.54);
  background-color: rgba(0,0,0,.12);
}
