.item {

  md-radio-button {
    justify-self: end;
  }

  equip-item {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.entry {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.number {
  align-self: flex-end;
}

.double {
  display: flex;
  justify-self: end;
  flex-direction: column;
  line-height: 1.5em;
}

.total {
  font-size: 0.9em;
  color: rgba(0,0,0,.54);
}

.budget-exceeded {
  color: rgba(255,0,0,.8);
}

.weight-exceeded:not(:hover) {
  color: rgba(0,0,0,.54);
  background-color: rgba(0,0,0,.12);
}
