<h1>{{(isNewList$ | async) ? 'Create List' : 'Edit List'}}</h1>
<form [formGroup]="form">
  <div class="list-settings grid">
    <md-input-container floatPlaceholder="auto" class="title">
      <input mdInput placeholder="Name" formControlName="title">
    </md-input-container>
    <md-input-container floatPlaceholder="auto" class="budget number">
      <input mdInput placeholder="Budget" formControlName="budget" type="number">
    </md-input-container>
    <md-input-container floatPlaceholder="auto" class="weight number">
      <input mdInput placeholder="Weight" formControlName="weight" type="number">
    </md-input-container>
  </div>
  <div class="headers grid">
    <span>Name</span>
    <span>Product</span>
    <span class="number">Price (&euro;)</span>
    <span class="number">Total Price (&euro;)</span>
    <span class="number">Weight (g)</span>
    <span class="number">Total Weight (g)</span>
  </div>
  <div *ngIf="collection" [dragula]="'variant-bag'" [dragulaModel]="getSelectedVariant(collection).entityLinks">
    <div *ngFor="let entityLink of getSelectedVariant(collection).entityLinks; let i = index; trackBy: trackByLinkId">
      <ng-container [ngSwitch]="entityLink.linkType">
        <equip-entry *ngSwitchCase="linkType.ENTRY"
                     [entry]="mappedEntities[i].entity"
                     (entryChange)="entryChanged($event)"
                     [item]="mappedEntities[i].selected"
                     [selectedId]="entityLink.selectedId"
                     (selectedIdChange)="selectedIdChange($event, i)"
                     [acc_price]="mappedEntities[i].acc_price"
                     [acc_weight]="mappedEntities[i].acc_weight"></equip-entry>
      </ng-container>
    </div>
  </div>
</form>
<equip-entry [(entry)]="newEntry" (addEntry)="addEntry($event)" [new]="true"></equip-entry>

<h3 *ngIf="notMappedEntries.length">Entries not in variant</h3>
<div>
  <equip-entry *ngFor="let entry of notMappedEntries"
             [entry]="entry">
</equip-entry>
</div>
<!--<button md-button color="primary" (click)="addEntry()"><md-icon>add</md-icon>Neuer Eintrag</button>-->
<button md-button color="primary">SPEICHERN</button>
<br>
<br>
{{ collection | json }}
