.list-settings {
  .title {
    grid-column-start: title;
  }

  .budget {
    grid-column-start: 6;
  }

  .weight {
    grid-column-start: 8;
  }
}

.headers {
  font-size: 12px;
  padding-bottom: 1.25em;
  color: rgba(0,0,0,0.54);
  border-bottom: 1px solid rgba(0,0,0,.12);

  span:first-child {
    grid-column-start: 3;
  }
}

.number {
  justify-self: end;
}
