.list-settings {
  .title {
    grid-column-start: title;
  }

  .budget {
    grid-column-start: 5;
  }

  .weight {
    grid-column-start: 6;
  }
}

.headers {
  font-size: 12px;
  padding-bottom: 1.25em;
  color: rgba(0,0,0,0.54);
  border-bottom: 1px solid rgba(0,0,0,.12);

  span:first-child {
    grid-column-start: 3;
  }
}

.number {
  align-self: center;
}

.double {
  justify-self: end;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
