<form [formGroup]="form">
  <div class="subgrid">
    <md-icon>{{ new ? 'add_circle_outline' : 'label_outline' }}</md-icon>
    <md-input-container>
      <input mdInput type="text" formControlName="title" placeholder="Title">
    </md-input-container>
    <md-input-container class="number price">
      <input mdInput type="number" formControlName="price" placeholder="Price">
    </md-input-container>
    <md-input-container class="number weight">
      <input mdInput type="number" formControlName="weight" placeholder="Weight">
    </md-input-container>
  </div>
</form>
