<div class="entry">
  <div class="header">
    <mat-icon>folder_open</mat-icon>
    <ng-container *ngIf="editMode && collectionEdit; else noEditHeader">
      <mat-input-container class="name">
        <input type="text" matInput placeholder="Name" [value]="entry?.name" [formControl]="nameForm">
      </mat-input-container>
      <button class="delete" mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
    <ng-template #noEditHeader>
      <span class="name">
        {{entry?.name}}
      </span>
    </ng-template>
    <button mat-icon-button (click)="editMode = !editMode" *ngIf="collectionEdit">
      <mat-icon>{{ editMode ? 'check' : 'edit'}}</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="editMode && collectionEdit; else activeItem">
    <ng-container *ngIf="items$ | async as items">
      <mat-radio-group (change)="selectItem($event.value)">
        <div class="equipment-item" *ngFor="let itemId of entry.items">
          <mat-radio-button [value]="items.entities[itemId]" [checked]="(selectedItem$ | async)?.id === itemId"></mat-radio-button>
          <equip-equipment-item  [item]="items.entities[itemId]" [collection]="collection" [entry]="entry">
          </equip-equipment-item>
        </div>
      </mat-radio-group>
    </ng-container>
    <button mat-button (click)="addItem()">
      <mat-icon>label</mat-icon>Add Item
    </button>
  </ng-container>
  <ng-template #activeItem>
    <equip-selected-equipment-item class="selected-item" *ngIf="selectedItem$ | async as selectedItem" [item]="selectedItem">
    </equip-selected-equipment-item>
  </ng-template>
</div>
