.name {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
}

.entry {
  border-bottom: 1px solid rgb(200,200,200);
  border-left: 3px solid rgb(180,180,180);
  margin-bottom: 5px;
}

.selected-item {
  display: block;
}

.equipment-item {
  display: flex;
  align-items: center;

  equip-selected-equipment-item {
    flex: 1;
  }
}

.add-item {
  margin-left: 28px;
  display: flex;
  align-items: center;

  mat-input-container {
    flex: 1;
  }
}
