.item {

  md-radio-button {
    justify-self: end;
  }

  equip-item {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.entry {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.number {
  justify-self: end;
}

.budget-exceeded {
  color: red;
}

.weight-exceeded:not(:hover) {
  color: rgba(0,0,0,.54);
  background-color: rgba(0,0,0,.12);
}
