<ng-container *ngIf="settings$ | async as settings">
  <form *ngIf="form" [formGroup]="form">
    <h1 mat-dialog-title>Edit Equipment Settings</h1>
    <div mat-dialog-content>
      <mat-input-container>
        <mat-icon matPrefix>archive</mat-icon>
        <input matInput placeholder="Name" formControlName="name">
      </mat-input-container>
      <div formGroupName="limits">
        <span class="limit-header">
          <span>Limits</span>
          <button mat-icon-button (click)="editLimits()"><mat-icon>settings</mat-icon></button>
        </span>
        <ng-container *ngFor="let limit of globalLimits$ | async">
          <mat-input-container *ngIf="form.controls?.limits.controls[limit.name]">
            <equip-limit-icon matPrefix [limit]="limit"></equip-limit-icon>
            <input matInput placeholder="{{limit.displayName || limit.name}}" [formControlName]="limit.name">
          </mat-input-container>
        </ng-container>
      </div>
    </div>
    <div mat-dialog-action>
      <button mat-button [mat-dialog-close]="form.getRawValue()">OK</button>
      <button mat-button mat-dialog-close>CANCEL</button>
    </div>
  </form>
</ng-container>
