<form [formGroup]="form">
  <div class="item">
    <div class="header">
      <mat-icon>label_outline</mat-icon>
      <mat-input-container class="name">
        <input type="text" matInput placeholder="Name" formControlName="name" [value]="item?.name">
      </mat-input-container>
      <button class="delete" mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="settings">
      <mat-input-container>
        <input type="number" matInput placeholder="Price" formControlName="price" [value]="item?.price">
      </mat-input-container>
      <mat-input-container>
        <input type="number" matInput placeholder="Weight" formControlName="weight" [value]="item?.weight">
      </mat-input-container>
      <mat-input-container>
        <input type="number" matInput placeholder="Volume" formControlName="volume" [value]="item?.volume">
      </mat-input-container>
    </div>
  </div>
</form>
