<div class="collection">
  <div class="header">
    <mat-icon>list</mat-icon>
    <ng-container *ngIf="editMode; else noEditHeader">
      <mat-input-container class="name">
        <input type="text" matInput placeholder="Name" [value]="collection?.name" [formControl]="nameForm">
      </mat-input-container>
      <button class="delete" mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
    <ng-template #noEditHeader>
      <span class="name">{{collection?.name}}</span>
    </ng-template>
    <button mat-icon-button (click)="toggleEditMode()"><mat-icon>{{ editMode ? 'check' : 'edit' }}</mat-icon></button>
  </div>
  <ng-container *ngIf="entries$ | async as entries">
    <ng-container *ngFor="let entryId of collection.entries; let index = index" >
      <ng-container *ngIf="entries.entities[entryId] as entry">
        <div class="drop-target" @move *ngIf="moveMode && index < moveIndex" (click)="dropTo(index)" ><mat-icon>input</mat-icon></div>
        <equip-equipment-entry
          class="equipment-entry"
          [class.move]="entry.id === this.moveMode?.id"
          [entry]="entry"
          [collection]="collection"
          [collectionEdit]="editMode"
          [moving]="!!moveMode"
          (move)="move(entry)"></equip-equipment-entry>
        <div class="drop-target" @move *ngIf="moveMode && index > moveIndex" (click)="dropTo(index)"><mat-icon>input</mat-icon></div>
      </ng-container>
    </ng-container>
  </ng-container>
  <button mat-button (click)="addEntry()" *ngIf="editMode">
    <mat-icon>create_new_folder</mat-icon>Add Entry
  </button>
</div>
