.collection {
  margin: 10px 0;
  border-bottom: 1px solid rgb(200,200,200);
}

.header {
  display: flex;
  align-items: center;

  .name {
    flex: 1;
  }
}

.drop-target {
  height: 40px;
  background-color: rgba(208, 208, 208, 0.5);
  margin-bottom: 5px;
  border: 2px dashed rgba(0,0,0,.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.5);
}

.move {
  display: block;
  background-color: rgba(208, 208, 208, 0.5);
}

.new-entry {
  border-bottom: 1px solid rgb(200, 200, 200);
  border-left: 3px solid rgb(180, 180, 180);
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  mat-input-container {
    flex: 1;
  }
}

.limits {
  .limits-header {
    display: flex;
    align-items: center;

    h4 {
      flex: 1;
    }
  }
  margin-bottom: 10px;
}

h4 {
  margin: 5px 0;
}
