<ng-container *ngIf="equipmentSet$ | async as equipmentSet">
  <div class="equipment-set-info">
    <equip-equipment-set-settings></equip-equipment-set-settings>
  </div>

  <equip-equipment-collection
    *ngFor="let collectionId of equipmentSet.collections.order; let index = index"
    [collection]="equipmentSet.collections.entities[collectionId]"
    [totals]="equipmentSet.collections.totals[collectionId]"
    [order]="index"
  >
  </equip-equipment-collection>

  <button mat-raised-button (click)="addCollection()">
    <mat-icon>playlist_add</mat-icon>
    Add Collection
  </button>
</ng-container>
